body {
    background-color: #0a3d62; /* azul */
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

.formulario input {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}

button {
    background-color: #c0392b; /* rojo */
    color: white;
    border: none;
    padding: 10px 14px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e74c3c;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    color: black;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
