document.addEventListener("DOMContentLoaded", cargarHistorial);

let cursoTemp = "";
let fechaTemp = "";
let nombreTemp = "";

function guardarCurso() {
    const curso = document.getElementById("cursoInput").value.trim();
    if (curso === "") {
        alert("Ingresa un curso");
        return;
    }
    cursoTemp = curso;
    alert("Curso guardado correctamente");
}

function guardarFecha() {
    const fecha = document.getElementById("fechaInput").value;
    if (fecha === "") {
        alert("Selecciona una fecha");
        return;
    }
    fechaTemp = fecha;
    alert("Fecha guardada correctamente");
}

function guardarNombre() {
    const nombre = document.getElementById("nombreInput").value.trim();
    if (nombre === "") {
        alert("Ingresa un nombre");
        return;
    }
    nombreTemp = nombre;
    document.getElementById("nombreInput").value = "";
    alert("Nombre guardado correctamente");
}

function agregarRegistro() {
    if (cursoTemp === "" || fechaTemp === "" || nombreTemp === "") {
        alert("Debes guardar curso, fecha y nombre antes");
        return;
    }

    let historial = JSON.parse(localStorage.getItem("historial")) || [];

    historial.push({
        curso: cursoTemp,
        fecha: fechaTemp,
        nombre: nombreTemp
    });

    localStorage.setItem("historial", JSON.stringify(historial));

    nombreTemp = "";
    mostrarHistorial();
}

function cargarHistorial() {
    mostrarHistorial();
}

function mostrarHistorial() {
    const tabla = document.getElementById("tablaRegistros");
    tabla.innerHTML = "";

    let historial = JSON.parse(localStorage.getItem("historial")) || [];

    historial.forEach(registro => {
        const fila = document.createElement("tr");

        fila.innerHTML = `
            <td>${registro.curso}</td>
            <td>${registro.fecha}</td>
            <td>${registro.nombre}</td>
        `;

        tabla.appendChild(fila);
    });
}

function exportarExcel() {
    let historial = JSON.parse(localStorage.getItem("historial")) || [];

    if (historial.length === 0) {
        alert("No hay registros para generar el informe");
        return;
    }

    let datos = historial.map((r, index) => ({
        "N°": index + 1,
        "Curso": r.curso,
        "Fecha": r.fecha,
        "Nombre": r.nombre
    }));

    let hoja = XLSX.utils.json_to_sheet(datos);
    let libro = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(libro, hoja, "Informe");

    XLSX.writeFile(libro, "informe_registro_curso.xlsx");
}
